#slider {
    position: relative;
    width: 300px;
    height: 500px;
    margin: 100px auto 0 auto;
    overflow: hidden;
}

.slides {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.slide {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slide img {
    max-width: 100%;
    height: auto;
}

.controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

button {
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #c20d0d;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
}

.dot.active {
    background-color: #0b9248;
}